*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $body-font;
  color: $color-text;
  background : $color-body-bg;
 // overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: $color-text;
  text-decoration: none;
}


