

/*Variables*/

/* z-index */
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 50;

/* fuentes */
$font-family: sans-serif;
$font-size-big: 2rem;
$font-size-medium: 1.3rem;
$font-size: 16px;



/* Color */
$color-important : #d1494b;
$color-urgent : #e4b359;
$color-no-urgent:#dce46a;
$color-third : #53be22;
$color-fourth : #0d203d;
$color-accent : #1b7885;
$color-border : #dceefc;
$color-light : #F6F6F6;
$color-text : #323236;
$color-text-light : #e1e2e4;
$color-body-bg : #FCFCFE;




$max-width : 1200px;

/* Mq break */
$breakpoints: (
    s:480px,
    m:768px,
    l:1024px,
    xl:1200px
)